body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: white;
    background: black;
  }
  
  h1 {
    text-align: center;
  }
  
  #studentForm, #searchBox {
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  #submitBtn {
    grid-column: span 2;
    width: 500px;
    height: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  
  .m1{
    width: 100%;
    height: 40px;
  }
  .a1{
    height: 40px;
  }
  